$dark-pink:                             #e91e63;


$dark:                                  #191A1A;
$dark-gray:                             #262626;
$gray:                                  #383838;
$line-gray:                             #4D4D4D;
$dashed-gray:                           #6d6d6d;
$detail:                                #737373;
$flat-gray:                             #9E95A3;
$light-gray:                            #CCCACE;
$border-gray:                           #E4E4E4;
$near-white:                            #F2F2F2;
$dirty-white:                           #F8F7F9;
$input-disabled:                        #FBFBFB;
$white:                                 #FFFFFF;
