@import 'settings';
@import 'icons';

@include foundation-global-styles;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

/* ---------------------------------------------------
  mixin
--------------------------------------------------- */
@mixin prefix($property, $value) {
   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}#{$property}: $value;
   }
}

@mixin gravatar($radius, $border-color, $margin, $size, $padding: .1rem) {
  .gravatar {
    img {
      border-radius: $radius;
      height: $size;
      width: $size;
      padding: $padding;
      border: 1px solid $border-color;
      margin: $margin;
    }
  }
}

@mixin anchor-color($color:$white,$hover:$orange) {
  a { color: $color;
    &:hover { color: $hover;}
  }
}

/* ---------------------------------------------------
  common
--------------------------------------------------- */
body {
  background-color: $dirty-white;
  -webkit-font-smoothing: antialiased;
  .disabled { pointer-events: none; }
  &.loaded .loader { display: none; }
  &:not(.loaded) {
    .loader {
      background-color: $white;
      display: block;
      height: 100%!important;
      opacity: .95;
      position: absolute;
      width: 100%!important;
      z-index: 9000;
      .loader--style1 {
        margin: 20% auto;
      }
    }
  }
  &.is-reveal-open > div:first-child {
    @include prefix(filter, blur(3px));
  }
  @include breakpoint(small only) {
    font-size: 95%;
  }
}

// Off Canvas
.off-canvas-wrapper {
  #sidenav-off-canvas {
    height: 100%
  }
}

// Dropdown accordion
.is-accordion-submenu {
  font-size: 85%;
  background: $side-subnav-back;
  box-shadow: inset 0 0 3px $black;

  &-parent {
    > a::after { margin-top: -1px; }
  }
}


