@import 'global';


// Side navigation
#side-nav {
  color: $white;
  h1 {
    font-size: .6rem;
    padding: 0 1rem;
    font-weight: 600;
    margin-bottom: 0;
    color: scale-color($dark, $lightness: 20%);
  }
  .side-nav-header {
    position: relative;
    h1 {
      background-color: $dark-pink;
      padding: 1.2rem;
      font-size: 1rem;
      color: $white;
    }
    @include gravatar( 50%, $white, 1.8rem 0 .3rem, 70px );
    .text-hidden {
      margin: 0 auto;
      width: 70%;
      p {
        margin-bottom: 0;
        font-size: .7rem;
      }
    }
  }
  .side-nav-menu-wrap {
    padding: {
      top: 2rem;
      bottom: 5rem;
    }
    .side-nav-menu {
      li {
        padding: .5rem 0;
        &.is-submenu-item {
          padding: 0;
        }
      }
    }
  }
}

// Top Menu
#top-header {
  position: relative;
  background-color: $dark-pink;
  padding: .64rem 0;
  @include gravatar( 50%, transparent, .5rem .3rem 0, 30px );
}


main#content {
  header h1 {
    font-size: 100%;
    color: $side-subnav-back;
    margin-top: 2rem;
  }
}


// Panel Style
.panel {
  background-color: $white;
  border: 1px solid $border-gray;
  margin: 0 0 1rem 0;
  padding: 1.2rem 1rem;
  position: relative;
  @include prefix(box-shadow, 0px 1px 5px 0px rgba(0,0,0,0.15));
}

.panel-group {
  margin-bottom: 1rem;
  .button-group {
    @include prefix(box-shadow, 0px 1px 5px 0px rgba(0,0,0,0.15));
  }
  .panel {
    margin-bottom: 0;
    &:not(:first-child) { border-top: none;}
    + .reset > .panel {
      border-top: none;
    }
  }
}

.panel {
  &.icon-list-area {
    padding: 0 .8rem;
  }
  .icon-list-area {
    margin-bottom: -1.2rem;
    margin: {
      right: -1rem;
      left: -1rem;
    }
  }
  &.amount-panel {
    .icon-list-area {
      margin-bottom: -1.4rem;
    }
  }
}

.icon-list-area {
  background-color: $dirty-white;
  border-top: 1px solid $border-gray;
  ul {
    margin: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: .4rem .5rem .5rem;
      vertical-align: middle;
      line-height: 1;
      @include anchor-color($detail, $dark-gray);
      i {
        font-size: 1rem;
        &.icon-deposit, &.icon-withdraw {
          font-size: 1.4rem;
        }
      }
    }
  }
}
